*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	min-width: 980px;
	height: 82px;
	background-color:#3b5998
}
.facebook-logo img{
    width: 203px;
    height: 75px;
    position: absolute;
    top: 7px;
    left: 79px;
}
#navbar {
  margin: 0 auto;
  width:980px;
  height:59px;
}

}

.logowrapper {
  display: block;
  padding: 30px 0;
}
#button {
    background-color: #4267b2;
    border:1px solid;
    border-color: #29487d;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
    color: white;
}

 #button:hover{
	background-color: #365899;
  border-color: #29487d;
 }

.tablewrapper {
  float:right;
  margin-top:15px;
}

.row1 {
  
  color:#fff;
  font-size:13px;
  width:164px;
  cursor:pointer;
}

.inputtext {
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
  border: 1px solid #bdc7d8;
  margin: 0;
  padding: 3px;
  background-color: #FAFFBD;
}

.row2 {
  
  color:#9daccb;
  font-size:12px;
  width:164px;
  cursor:pointer;
}

#leftbod {
  width:565px;
  display:inline-block;
}

.container{
	width:100%;
	height:386px;
	background-color: #e9ebee;
  display:flex;
  justify-content: center;
  align-items: center;

}
.alert{
  justify-content: center;
	background:white;
	width:500px;
	height: 200px;
  border: 1px solid #ccc;
  border-radius:4px;
  justify-content: center;
	
}
.alert-header{
  top:10px;
}

.alert-header h2{
  line-height: 20px;
  min-height: 20px;
  color: #162643;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: -4px;
}
hr{
  height:1px;
  width:90%;
  border: none;
  height: 1px; 
  background-color:#e2e5ea;
  margin-left:15px;
}

.alert-form{
  margin-left: 85px;
  margin-top: 15px;
  margin-bottom: 20px;


}
.alert-form label{
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif; 

}
.alert-form input{
  width:255px;
  outline:none;
  border: 1px solid #bdc7d8;
  padding:3px;
 
}
.alert-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  height: 45px;
  margin-top: 32px;
}
.buttons{
  padding:5px;
}

button{
  border:none;
  cursor:pointer;
  font-size:12px;
  font-weight:bold;
  line-height: 18px;
  text-align:center;
  height: 24px;
  width: 30;
  width: 60px;
}

.button-find{
  color:white;
  background-color: #4267b2;
  border:1px solid #29487d
  border-radius:3px;
}
.button-cancel{
  color: #4b4f56;
  background-color:white;
  border:1px solid #ced0d4;
  border-radius: 3px;
}

.button-find:hover{
  background-color: #29487d;
}
.button-cancel:hover{
  background-color: #f2f2f2;
}